/* General Styling */
body{
    font-family: 'Arial',sans-serif;
     background-color: #e8c3c3;
     margin: 0;
     padding:150px;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.resume-container {
    display: flex;
    background-color: rgba(194, 184, 176, 0.888);
    width:80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px  rgba(21, 19, 19, 0.612)
}

/*Left Section Styling */
.left-section {
    
    color: rgb(37, 37, 35);
    padding: 20px;
    width: 65;
    text-align: center;
    
}

h1 {
    font-size: 24px;
    margin:10px 0;
    margin-bottom: 30px;
    text-align: center;
}

Profile-picture {
    width: 150px;
    height:35%;
    margin-top:10px;
    border-radius: 50%;
    border:5px solid #b8101e;
    margin-bottom:20px;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #82050f;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10;
    margin: 10px;
}

ul li {
    margin: 5px 0
}

/*Right Section Styling */
.rigt-section {
    padding: 20px;
    width: 65;
}
 
button {
    font-family:Arial, Helvetica;
    border-radius: 10px;
    box-shadow:0 0 15px black;
    cursor: pointer;
    margin-top: 10PX;
    font-size:18px;
}

button:hover {
    background-color: #d74214;
}

